*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 860px;
  padding: 15px;
  margin: 15px auto;
  max-width: 100%;
}

.green-button::before {
  content: " ";
}
.green-button {
  margin-left: 10px;
  padding: 0 10px;
}
.green-button--non-active {
  transition: background-color 500ms ease;
  background-color: white;
}
.green-button--active {
  transition: background-color 0;
  background-color: #44aa44;
}
.log-window {
  height: 26px;
  font-size: 14px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  padding: 5px;
}